.container{
  position: relative;
  padding-left: 70px;
  .Title{
    font-size: 1.4em;
    padding-bottom: 15px;
  }
  .base{
    
    background-color: #fff;
    box-shadow: 1px 1px 4px 1px #686868a0;
    border-radius: 5px;
    height: 70vh;
    .baseAdd{
      position: relative;
      box-shadow: 1px 1px 4px 1px #686868a0;
      height: 52px;
      display: flex;
      width: 80vw;
      border-radius: 5px;
      ion-icon{
        position: relative;
        padding: 5px 7px;
        font-size: 40px;
      }
      .baseAddInput{
        width: 80vw;
        border-radius: 5px;
        border: none;
        font-size: 1.1em;
        &:focus{
          outline: none;
        }
        &::placeholder{
          color: #1b52aa;
        }
      }
    }
  }
}